{% extends 'base.html.twig' %}

{% block body %}
    <h2>Ooooops mutha' fucka'</h2>
    <h3>Is Wayne Brady gonna have to choke a bitch?!!></h3>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
    </p>
{% endblock %}

{% block title %}
    Error 404
{% endblock %}